body{ 

margin: 0px;
margin: 0px;
background-color: rgb(134, 87, 165);

}
.line{
    text-align: center;
    font-size: 20px;
}


.href{
    margin: 50px;
    padding: 5px;
    word-spacing: 30px;
    font-size: 30px;
    text-align: center;
    
}